<!-- templates/base.html -->

<!DOCTYPE html>
<html class="has-background-grey-darker">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unblind</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-light is-small has-background-black-ter">

        <div class="hero-head">
            <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('main.index') }}">
                        <img src="{{ url_for('static', filename='unblind.png') }}" width="112" height="28">
                    </a>
              
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item is-light has-text-white">
                                Log in
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.unblind') }}" class="navbar-item has-text-white">
                                <strong>Unblind</strong>
                            </a>
                            <a href="{{ url_for('main.payloads_lst') }}" class="navbar-item has-text-white">
                                <strong>Payloads</strong>
                            </a>
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item has-text-white">
                                <strong>Logout</strong>
                            </a>
                            {% endif %}
                    </a>
                </div>
              
                <div class="navbar-menu">
                    <div class="navbar-start">
                    </div>
              
                    <div class="navbar-end">
                    </div>
                </div>
            </nav>
        </div>
    </section>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>

</html>