<!-- templates/unblind.html -->

<!-- https://buefy.org/documentation/table/ -->

{% extends "base.html" %}

{% block content %}

<div class="card">

  <section class="section">
    <header class="card-header">
      <div>
        <label class="label">-- PAYLOADS --</label>
      </div>
    </header>
  </section>

  <section class="section has-background-danger-light">
    <div class="card-content">
      <form action="/unblind/payloads">
        <div class="inline fields">
          <input type="text" name="fieldname" id="fieldname" placeholder="Field Name" autofocus="" value="">
          <button>Generate</button>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="encoding" checked value="no_encoding">
            No Encoding
          </label>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="encoding" value="url_encoding">
            URL encoding
          </label>
        </div>
        <div class="control">
          <label class="radio">
            <input type="radio" name="encoding" value="double_url_encoding">
            Double URL encoding
          </label>
        </div>
      </form>
    </div>
    <div class="card-content">
      <div class="px-2" id="tab-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div id="unblind">

            {% if results %}
              <div class="table-container">
                <table id="table_payloads" class="table is-hoverable is-bordered is-striped is-fullwidth">
                    <thead class="thead is-primary">
                        <th>#</th>
                        <th>Payload</th>
                        <th>Description</th>
                    </thead>
                    {% for key, value in results.items() recursive %}
                      {% for v in value %}
                        <tr>
                          <td>{{ v.id }}</td>
                          <td>{{ v.payload }}</td>
                          <td>{{ v.description }}</td>    
                        </tr>
                      {%endfor%}
                    {% endfor %}
                </table>
              </div>
            {%endif%}      

        </div>
      </div>
    </div>
  </section>
</div>



<script src="{{ url_for('static', filename='js/unblind.js') }}"></script>
<script>test_stage_2()</script>

{% endblock %}