<!-- templates/unblind.html -->

{% extends "base.html" %}

{% block content %}

<div class="card">

  <section class="section">
    <header class="card-header">
      <div>
        <label class="label">-- PAYLOADS --</label>
      </div>
    </header>
  </section>

  <section class="section has-background-danger-light">
    <div class="card-content">
      <div class="px-2" id="tab-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div id="unblind">

            {% if results %}
                <table id="table_payloads" class="table is-hoverable is-fullwidth">
                    <thead class="thead is-primary">
                        <th>#</th>
                        <th>Payload</th>
                        <th>Description</th>
                    </thead>
                    {% for key, value in results.items() recursive %}
                      {% for v in value %}
                        <tr>
                          <td>{{ v.id }}</td>
                          <td>{{ v.payload }}</td>
                          <td>{{ v.description }}</td>    
                        </tr>
                      {%endfor%}
                    {% endfor %}
                </table>
            {%endif%}      

        </div>
      </div>
    </div>
  </section>
</div>



<script src="{{ url_for('static', filename='js/unblind.js') }}"></script>

{% endblock %}