<!-- templates/unblind.html -->

{% extends "base.html" %}

{% block content %}

<div class="card has-background-grey-darker">

  <section class="section has-background-grey-darker">
    <header class="card-header">
      <div>
        <label class="label has-text-white">-- UNBLIND --</label>
      </div>
    </header>

    <div class="card-content">
      <div class="px-2" id="tab-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-warning">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div id="unblind">

            {% if xss_results %}
                <div class="table-container">
                  <table id="table_xss" class="table is-bordered is-fullwidth has-background-black-ter has-text-white">
                      <thead class="thead is-primary">
                        <th class="has-text-warning">#</th>
                        <th class="has-text-warning">Action</th>
                        <th class="has-text-warning">Stage 1</th>
                        <th class="has-text-warning">Stage 2</th>
                        <th class="has-text-warning">Result</th>
                      </thead>
                      {% for key, value in xss_results.items() recursive %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>
                              <div class="control">
                                <button id={{ value.xss_uid }} class="button is-warning is-rounded" onclick="deleteOnClick(this.id, 'xss')">Delete</button>
                              </div>
                            </td>
                            <td class="is-selected">{{ value.xss_stage_1 }}</td>
                            {% if value.xss_stage_2 == True %}
                              <td class="is-selected">{{ value.xss_stage_2 }}</td>
                            {% else %}
                              <td>{{ value.xss_stage_2 }}</td>
                            {% endif %}
                            <td class="column">
                              <div>
                                <div><p><strong class="has-text-warning">Uid: </strong>{{ value.xss_uid }}</p></div>
                                <div><p><strong class="has-text-warning">Created at: </strong>{{ value.xss_created_at }}</p></div>
                                <div><p style="color:red"><strong class="has-text-warning">Value: </strong>{{ value.xss_value }}</p></div>
                                <div><p><strong class="has-text-warning">Ip: </strong>{{ value.xss_ip_from }}</p></div>
                                <div><p><strong class="has-text-warning">Url: </strong>{{ value.url }}</p></div>
                                <div><p><strong class="has-text-warning">Cookie: </strong>{{ value.cookie }}</p></div>
                                <div><p><strong class="has-text-warning">User-Agent: </strong>{{ value.user_agent }}</p></div>
                                <div><p><strong class="has-text-warning">Platform: </strong>{{ value.platform }}</p></div>
                                <div><p><strong class="has-text-warning">Screen Resolution: </strong>{{ value.screen_resolution }}</p></div>
                                <div><p><strong class="has-text-warning">Browser Size: </strong>{{ value.browser_size }}</p></div>
                              </div>
                            </td>
                        </tr>
                      {% endfor %}
                </table>
              </div>
            {%endif%}      

        </div>
      </div>
    </div>
  </section>
</div>



<script src="{{ url_for('static', filename='js/unblind.js') }}"></script>

{% endblock %}